<li id="tourist_area-<%= tourist_area.id %>">
  <span class="content">
    <%= link_to tourist_area.name, tourist_area %>
    <%= t ".createby" %>
    <%= link_to tourist_area.user.name, tourist_area.user %>
    <%= t ".at" %>
    <%= tourist_area.created_at %>
  </span>
  <span class="timestamp">
    <% if current_user? tourist_area.user %>
      <%= link_to t(".delete"), tourist_area, method: :delete, data: { confirm: t(".yousure") } %>
      <%= link_to t(".update"), edit_tourist_area_path(tourist_area.id) %>
    <% end %>
  </span>
</li>
